:root {
  --primary-color: #6D7AD1;
  --secondary-color: white;
}

.jumbotron .jumbotron-fluid {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.sidenav {
  background-color: var(--secondary-color);
  color: var(--secondary-color);
}